.header {
	text-align: center;
}
h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	color:#FC3CAD;
	font-size: 50px;
	margin-bottom: 0;
	margin-top: 0;
}
h2 {
	text-align: center;
	font-family: 'Dawning of a New Day', cursive;
	margin-top: 0;
	font-size: 30px;
}
.header,button {
	padding: 0;
    border: none;
    background: none;
}

.bOc {
	width: 201px;
	height: 320px;
	
}
.pPf {
	font-family: 'Pacifico', cursive;
	font-size: 25px; 
	text-align: center;
	word-spacing: 7em;
	color:#4430BA;

}
#tense {
	margin-bottom: 0; 
}

.dealtCards {
	width: 900px;
	height: 1000px;
	margin: 0 auto;
}
.past {
	width:276px;
	height: 1000px;
	float: left;
	padding-left: 32px;
}
.present {
	 width: 276px;
    height: 1200px; 
    float: left; 
}
.future {
	 width: 276px;
    height: 1000px; 
    float: left; 
}

footer {
	margin-top: 30px;
}

a {
	text-align: center;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
	margin-left: 600px;
	text-decoration: none;

}



